<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SecureCart</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <link rel="icon" href="/files/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link href="/files/css/final.css" rel="stylesheet">
        {% block head %}
        {% endblock %}  

        
    </head>

    <body class="bg-black text-white">
        <div id="content" class="">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>

