<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SecureCart</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
        <link rel="icon" href="/files/images/favicon.svg" sizes="any" type="image/svg+xml">
        <link href="/files/css/final.css" rel="stylesheet">
        {% block head %}
        {% endblock %}  

        
    </head>

    <body class="bg-white text-black">
        <div class="h-20 flex bg-white p-3 items-center justify-center border-b-2 border-black font-bebas text-lg" id="header">
            <div class="flex font-title text-5xl basis-1/4 justify-center">
                <h1>SecureCart</h1>
            </div>
            <ul class="flex justify-center gap-5 basis-1/2">
                <li><a href="/">Home</a></li>
                <li><a href="/browse">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if logged_in %}
                <li><button hx-post="/sign-out">Sign Out</button></li>
                {% else %}
                <li><a href="/sign-in">Log in</a></li>
                {% endif %}
            </ul>
            <ul class="flex justify-center gap-3 basis-1/4">
                {% if logged_in %}
                <li><a href="/liked">Favourites</a></li>
                <li><a href="/cart">Cart</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="content" class="">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>

