{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="flex flex-wrap justify-center content-start 4 p-2 gap-4 border-l-2 border-r-2 border-black border-opacity-40 w-3/5 absolute top-20 bottom-0 left-1/2 -translate-x-1/2 overflow-y-scroll">
        {% for product in products %}
            <a href='/browse/{{product.imgname.strip_suffix(".jpg").unwrap().to_string() }}' class=" flex flex-col items-center justify-center gap-1 w-60 font-bebas text-lg text-nowrap">
                <img class="w-52 h-52" src="/files/images/{{ product.imgname }}"/>
                <div class="flex  justify-evenly w-full">
                    <h1>{{product.title}}</h1>
                    <h1>£{{product.cost}}</h1>
                </div>
                <hr class="mb-2 bg-black bg-opacity-100 h-[2px] w-full"/>
            </a>
        {% endfor %}
        </div>
        {% call super() %}
{% endblock %}