@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Designer';
        src: url("/files/static/Designer.otf");
    }

    @font-face {
        font-family: 'Cocogoose';
        src: url("/files/static/cocogoosemedium.ttf");
    }

    @font-face {
        font-family: 'Bebas';
        src: url("/files/static/Bebas-Regular.otf");
    }
    
    @font-face {
        font-family: 'Biko';
        src: url("/files/static/AgenorNeue-Regular.otf");
    }
}